.mainContent ul {
  margin: 5% 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainContent ul>li {
  display: inline-flex;
}

.mainContent ul li>img {
  margin: auto 15px;
}

.mainContent ul li>h3 {
  min-width: 5em;
}

.mainContent img {
  height: 25px;
  border-radius: 25px;
}

.mainContent ul li>a {
  text-decoration: none;
  border-radius: 25px;
  padding: 0.1em 0.6em;
  background-color: var(--background-secondary);
}

.mainContent ul li a>span {
  font-size: 0.85rem;
}

@media screen and (max-width: 400px) {
  main {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
}